<!DOCTYPE html>
{% extends "layout1.html" %}
{% block content %}
<html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <div class="wrap">
     <div class="search">

        <form action="" method="post"role="form">

          <input type="text" class="searchTerm" id="name" name="name" placeholder="enter your medium user name">

        <button type="submit" class="searchButton" formmethod="post" >
          <i class="fa fa-search"></i>
          </button>
        </form>
     </div>
  </div>
{% endblock %}
</body>
</html>
