<!DOCTYPE html>
{% extends "layout1.html" %}
{% block content %}
<html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <div class="w3-container">
        <div class="w3-panel w3-blue">
                       
     
    <div class="FontPanel">
        <h1>Welcome to GloriaSoft demo app using medium SDK python</h1>
        <h6>This demo app was to developed for demonstration on how to use REST and CRUD principles with python</h6>

      </div>
    </div>
                            
   
         <form action="{{url_for('resultDisplay')}}">
     <div class="wrapper">
      
      <button type="submit" class="buttoncenter"  ><p class="FontPanel">Medium Profile</p></button>
  </div>
</form>
   {% endblock %}
   </body>
   </html>