<!DOCTYPE html>
<html>
<body>
  <head>
    <title>Gloria App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main1.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search1.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/avatarimage.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/publications.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tags.css') }}">

  </head>
<header>
<div class="topnav">
  <a class="active" href="{{ url_for('home') }}">Home</a>
  <a href="{{ url_for('about') }}">About</a>
 
</div>
</header>
</header>
<div class="container">
  {%block content%}
  {%endblock%}
</div>
</body>
</html>
</body>
</html>
