click==6.7
feedparser==5.2.1
Flask==1.0.2
Flask-Testing==0.7.1
Flask-WTF==0.14.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
medium==0.3.0
mysql-connector-python==8.0.12
nose==1.3.7
protobuf==3.6.1
pymongo==3.7.2
requests==2.9.1
six==1.11.0
Werkzeug==0.14.1
WTForms==2.2.1
